<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1"> <%= pageName %> </span>
</nav>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-lg" id="plusButton"><i class="material-icons">add</i></button>
</div>


<style>
    #plusButton {
        border-radius: 50%;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        /* position: sticky */
        /* top: 50px */
    }
</style>